/* #cartItemsIndexDiv {
    display: flex;
    justify-content: center;
    background-color: aqua;
    width: 100%;
}

#cartItemsIndexList {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: wheat;
    font-family: Amazon Ember Regular;
    width: 100%;
}

#shoppingCart {
    font-size: 28px;
}

#cartItem {
    width: 100%;
} */

#cartItemsIndexDiv {
    display: flex;
    justify-content: center;
    background-color: #eaeded;
    width: 100%;
}

#cartItemsIndexDivInner {
    display: flex;
    /* justify-content: center; */
    background-color: white;
    padding: 30px;
    height: 1000px;
    margin-top: 30px;
   
    /* width: 80%; */
}

#titleAndPrice {
    /* display: flex; */
    width: 1000px;
}

#cartTitle {
    display: flex;
    width: 100px;
    font-family: Amazon Ember Regular; 
    font-size: 22px
}



#priceTitle {
    display: flex;
    justify-content: right;
    font-family: Amazon Ember Regular;
    color: #565959;
    /* background-color: yellow; */
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#subtotalPrice {
    display: flex;
    justify-content: right;
    font-family: Amazon Ember Regular;
}

#checkoutDiv {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    justify-content: left;
    flex-direction: column;
    background-color: white;
    margin-top: 30px;
    margin-left: 20px;
    width: 270px;
    height: 200px;
}

#subtotalCheckout {
    font-family: Amazon Ember Regular;
    font-size: 18px;
    margin-bottom: 20px;
}

#checkoutButton {
    background-color: #ffd814;
    border-color: #a88734 #9c7e31 #846a29;
    font-family: Amazon Ember Regular;
    width: 250px;
    height: 29px;
    border: 1px rgb(132, 106, 41);
    cursor: pointer;
    border-radius: 10px;
}

#checkoutButton:hover {
    background-color: rgb(228, 184, 72)
}

#checkoutButton:active {
    background-color: rgb(215, 174, 69)
}
