#reviewCreationFormMain {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 800px;
    /* width: 400px;
     */
    width: 50vw;
    margin-top: 10vh;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* background-color: wheat; */
    /* border: 1px solid black; */
    font-family: Amazon Ember Regular;
}

#reviewForm {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

#reviewImage {
    height: 100px;
    margin-right: 20px;
}

#productName {
    line-height: normal;
}

.reviewLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    font-family: Amazon Ember Regular;
}

.reviewInput {
    margin-top: 10px;
    font-family: Amazon Ember Regular;
}

#reviewBody {
    display: flex;
    /* align-items: center; */
    margin-top: 10px;
    height: 100px;
    /* width: 200px; */
    /* width: 1000px; */
    font-family: Amazon Ember Regular;
}

#createReviewMain {
    margin-bottom: 20px;
    font-size: 24px;
}

#productInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: Amazon Ember Regular;
}

#reviewLine {
    background-color: #dddddd;
    height: 1px;
    margin-bottom: 20px;
}

#loadingDiv {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    height: 800px;
    width: 100%;
    /* background-color: aqua; */
}

#loadingIcon {
    width: 70px;
    height: 70px;
}